/*
------------------------------------------------------------------
 COLORS
------------------------------------------------------------------
*/

:root {
  --color-orange: #f0650d;
  --color-dark: #293a43;
  --color-light: #ededed;
  --color-gray: #4b5a65;

  /*
  ------------------------------------------------------------------
  GRID
  ------------------------------------------------------------------
  */

  --gutter: 20px;

  /*
  ------------------------------------------------------------------
  FONTS
  ------------------------------------------------------------------
  */

  --primary-font: "raleway-grid", Helvetica, Arial, sans-serif;
  --secondary-font: "intro-grid", Helovetica, Arial, sans-serif;
}
